/*Css for index.html */


/* Colors ---
madaffald: 038735
restaffald: 262626
glas: 29615A
metal 444444
papir 3f7abc
småt pap 936E2A
*/


/* GENERAL */


/* Make semantiv tags usable in ie 8 and bellow. */

article,
header,
nav,
section,
footer {
    display: block;
}

.button:not(.button--round)>figure>svg {
    margin-right: .5em;
}

hr {
    margin: 10vh 0;
}

body {
    padding-top: 0px;
}

a:active,
a:hover {
    outline-width: initial;
}

.button:focus {
    outline: 2px solid blue;
}

.header figure,
.header__bottom figure,
.breadcrumb figure,
.tiles__list figure,
.shortcuts__text figure,
.search__inner figure,
.footer__info figure,
#interactive_main_content figure,
#static_main_section figure {
    margin: 0;
}

.header figure,
.header figure svg,
.footer__contact>li>figure,
.footer__contact>li>figure>svg,
.footer__socials figure,
.footer__socials svg {
    float: left;
}

.hidden,
.hidden * {
    max-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
}

.h2-like {
    display: block;
    font-size: 1.5em;
    font-weight: 400;
}

a:hover {
    cursor: pointer;
}

.button:hover {
    background-color: #146c2e;
}

.button--secondary:hover {
    background-color: #DDD;
}

.content a:not(.button):not(.employee__phone):not(.employee__email):hover {
    color: #146c2e;
    border-color: #146c2e;
}


/* HEADER */

.header__logo>figure>svg {
    max-width: 100%;
    max-height: 30px;
    pointer-events: none;
}

.header__search>figure>svg {
    fill: #aaaaaa;
}

.header__logo:before {
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5.2px;
    height: 0.4rem;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    position: absolute;
    background-color: rgba(26, 135, 58, 0);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: background-color 250ms ease-out;
}

.header__logo:hover:before {
    background-color: rgba(26, 135, 58, .2);
}


/* TOP NAVIGATION */

.header__top>ul>li>a:hover {
    color: #1a1a1d;
    text-decoration: underline;
}

.header__top>ul>li.language>a:hover {
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 238, 0.8);
    border-radius: 100%;
}


/* NAVIGATION */

.header__nav li:first-child a.header__nav__item:before {
    -webkit-transform: translateY(0) !important;
    transform: translateY(0) !important;
}


/* BREADCRUMBS */

.breadcrumb figure {
    display: inline;
}

.breadcrumb__item>a:hover {
    color: #888888;
    text-decoration: underline;
}

.breadcrumb__item.active>a:hover {
    color: #1a1a1d;
}


/* h1 TITLE */

.hero--alt h1,
.teaser__text>.title {
    margin-top: calc( 0.5rem + 1rem * 1.4);
}


/* BANNER */


/* BANNER DESCRIPTION */

.hero--alt P {
    color: #444;
    font-size: 16px;
    line-height: 1.875;
    word-wrap: break-word;
    font-weight: 400;
    margin-bottom: auto;
}

@media (min-width: 768px) {
    .hero--alt p {
        font-size: 18px;
    }
}


/* RELEATED CONTENT */

.tiles__item>a>figure>img {
    width: 100%;
    height: 165px;
    margin-bottom: 13px;
    margin-bottom: 1rem;
    border-radius: 2px;
    font-family: "object-fit:cover";
    -o-object-fit: cover;
    object-fit: cover;
}


/* SHORTCUTS */

.shortcuts__img>picture>img {
    border-radius: 2px;
    width: 100%;
    height: 100%;
    font-family: "object-fit:cover";
    -o-object-fit: cover;
    object-fit: cover;
}


/* MAIN CONTENT */


/* INTERACTIVE MAIN CONTENT */

#interactive_main_content figure {
    float: left;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
}

.sort-item-display {
    position: relative;
    overflow: hidden;
}

#indhold-over-affaldsorterings-ikoner,
#affaldsorterings-ikoner {
    top: -78px;
    float: left;
    width: 100%;
    height: 1px;
    margin-bottom: -1px;
    /* Dirty hag to manipulate position. This trigs the browser into positioning correctly when linked to section. */
}

#indhold-under-affaldsorterings-ikoner {
    top: calc(-25vw - 70px);
    float: left;
    width: 100%;
    height: 1px;
    margin: -1px;
}

@media (min-width: 768px) {
    #indhold-over-affaldsorterings-ikoner,
    #affaldsorterings-ikoner {
        top: 0;
    }
    #indhold-under-affaldsorterings-ikoner {
        top: -25vw;
    }
}

#top-display,
#bottom-display {
    float: left;
    width: 100%;
    height: 100vh;
    max-height: 75vh;
    box-sizing: initial;
}

#top-display,
#bottom-display {
    background-color: #444;
    transition: max-height 1s ease-in-out 0s, padding 0.7s;
}

#top-display .main_content_content,
#bottom-display .main_content_content {
    max-height: calc(75vh - 100px);
    overflow-y: auto;
}


/*SCROLLBAR STYLING*/

#top-display .main_content_content::-webkit-scrollbar-track,
#bottom-display .main_content_content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

#top-display .main_content_content::-webkit-scrollbar,
#bottom-display .main_content_content::-webkit-scrollbar {
    width: 12px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

#top-display .main_content_content::-webkit-scrollbar-thumb,
#bottom-display .main_content_content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(255, 255, 255, 0.9);
}

#top-display {
    padding-top: 30px;
    padding-bottom: 70px;
}

#bottom-display {
    padding-top: 30px;
    padding-bottom: 100px;
}

#interactive_main_content .close_button {
    position: absolute;
    right: 0;
    z-index: 101;
    font-size: 30px;
    line-height: 30px;
    padding-left: 0.28em;
    padding-right: 0.28em;
    padding-bottom: 0.16em;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    background-color: transparent;
    transition: background-color 0.15s;
}

#interactive_main_content .close_button:hover {
    background-color: red;
}

#interactive_main_content .close_button:active,
#interactive_main_content .close_button:focus {
    border-style: inset;
}

@media (min-width: 768px) {
    #interactive_main_content .close_button {
        font-size: 40px;
        line-height: 40px;
    }
}

#top-display .h2-like,
#bottom-display .h2-like {
    float: left;
    margin-left: 15px;
    line-height: 70px;
    color: #FFF;
}

#interactive_main_content .main_content_title_secton {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

#interactive_main_content ul.what_to_do_with li,
#interactive_main_content .examples_of_what_to_do_title,
#interactive_main_content ul.examples_of_what_to_do li {
    color: #FFF;
}

#interactive_main_content .examples_of_what_to_do_title {
    margin-bottom: 15px;
}

#interactive_main_content .content__inner ul li:before {
    background-color: #FFF;
}

#interactive_main_content .main_content_content a {
    color: #CCC;
    text-decoration: underline;
}

#interactive_main_content .main_content_content a:active,
#interactive_main_content .main_content_content a:focus,
#interactive_main_content .main_content_content a:hover {
    color: #DDD;
}

.sort-item-display .content__inner {
    max-width: none;
}

.sort-item-display.hidden a,
.sort-item-display.hidden div {
    display: none;
}

.grid-sort-card {
    float: left;
    width: 100%;
    display: grid;
    grid-template: auto/25% 25% 25% 25%;
    justify-content: center;
    grid-row-gap: 0;
}

.grid-item {
    float: left;
    width: auto;
    height: auto;
}

.sort-item-card {
    position: relative;
    float: left;
    width: 100%;
    /* 100% of grid item, is 25% of screen. */
    height: 25vw;
    /* 25vw is 25% of screen height. */
    color: #FFF;
    cursor: pointer;
}

.sort-item-card:hover,
.sort-item-card:active,
.sort-item-card:focus {
    color: #FFF;
}

.sort-item-card figure {
    width: 100%;
    height: auto;
    perspective: 1000px;
    /* Enables 3D effect */
    transition: transform 0.4s;
    transform-style: preserve-3d;
}

.sort-item-card:hover figure {
    transform: rotateY(180deg) rotateX(-15deg);
    /*transition: transform 0.8s;*/
    transition-delay: 0.2s;
    transition-duration: 2s;
}

.sort-item-card:active figure {
    transform: rotateY(180deg) rotateX(15deg);
    transition: transform 0.2s;
}

.sort-item-card figure svg {
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
}

#madaffald-card .sort-item-card {
    background-color: #038735;
}

#restaffald-card .sort-item-card {
    background-color: #262626;
}

#glas-card .sort-item-card {
    background-color: #29615A;
}

#metal-card .sort-item-card {
    background-color: #444444;
}

#papir-card .sort-item-card {
    background-color: #3f7abc;
}

#smaat-pap-card .sort-item-card {
    background-color: #936E2A;
}

#plast-card .sort-item-card {
    background-color: #863B7C;
}

#oevrigt-card .sort-item-card {
    background-color: #607A1F;
}

.sort-item-card img {
    max-width: 50%;
    max-height: 11vw;
}

.sort-item-card span {
    position: absolute;
    bottom: 4vw;
    width: 100%;
    font-size: 1.8vw;
    text-align: center;
}


/* STATIC MAIN CONTENT */

#static_main_section article {
    float: left;
    width: 100%;
    margin-bottom: 50px;
}

#static_main_section .main_content_title_secton {
    position: relative;
    float: left;
    z-index: 100;
}

.main_content_title_wrapper {
    float: left;
    padding: 15px;
}

#static_main_section .main_content_title_wrapper:after,
#static_main_section .main_content_title_secton:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#static_main_section .main_content_title_wrapper:after {
    width: 100%;
    min-width: 25vw;
    height: 100%;
}

#static_main_section .main_content_title_secton:before {
    height: 25%;
    width: 100vw;
}

#madaffald .main_content_title_wrapper:after,
#madaffald .main_content_title_secton:before {
    background-color: #038735;
}

#restaffald .main_content_title_wrapper:after,
#restaffald .main_content_title_secton:before {
    background-color: #262626;
}

#glas .main_content_title_wrapper:after,
#glas .main_content_title_secton:before {
    background-color: #29615A;
}

#metal .main_content_title_wrapper:after,
#metal .main_content_title_secton:before {
    background-color: #444444;
}

#papir .main_content_title_wrapper:after,
#papir .main_content_title_secton:before {
    background-color: #3f7abc;
}

#smaat-pap .main_content_title_wrapper:after,
#smaat-pap .main_content_title_secton:before {
    background-color: #936E2A;
}

#plast .main_content_title_wrapper:after,
#plast .main_content_title_secton:before {
    background-color: #863B7C;
}

.plastinfo {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/*the fullscreen overlay for zoom*/
#overlay1{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 10000;
    cursor: pointer;
    
}

/*the container in which the zoomed image is*/
.zoombox{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
}
/*class for images with zoom*/
.zoomimage{
    max-width: 100vw;
    max-height: 70vh;
}

#oevrigt .main_content_title_wrapper:after,
#oevrigt .main_content_title_secton:before {
    background-color: #607A1F;
}

.main_content_title_secton figure,
.main_content_title_secton h2 {
    float: left;
}

.main_content_title_secton figure {
    max-height: 100px;
}

.main_content_title_secton figure img {
    float: left;
    height: 70px;
}

.main_content_title_secton h2 {
    margin-left: 10px;
    color: #FFF;
    line-height: 70px;
}

.main_content_content {
    position: relative;
    float: left;
    width: 100%;
}

.what_to_do_with {
    width: 100%;
    float: left;
    z-index: 100;
    margin-top: 90px;
}

.examples_of_what_to_do {
    width: 100%;
    float: left;
    z-index: 100;
    margin: 10px;
}

@media (min-width: 768px) {
    .what_to_do_with,
    .examples_of_what_to_do {
        width: calc(50% - 4rem);
        z-index: 100;
    }
    .examples_of_what_to_do,
    .examples_of_what_to_do_title {
        float: right;
        clear: right;
    }
    .content__inner ul.what_to_do_with,
    .content__inner ul.examples_of_what_to_do {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

ul.what_to_do_with li a,
ul.examples_of_what_to_do li a {
    display: inline-flex;
    padding: 0 !important;
}

.examples_of_what_to_do_title {
    width: 50%;
    font-weight: 700;
    padding: 20px;
}

.indsats {
    float: left;
    width: 100%;
}

.indsats h3 {
    position: relative;
    float: right;
    font-size: 38px;
    font-weight: 600;
    color: #FFF;
}

.indsats h3:before {
    content: "";
    clip-path: polygon(25% 3%, 40% 5%, 60% 5%, 75% 3%, 90% 0, 100% 0, 100% 100%, 0 100%, 0 0, 10% 0);
    position: absolute;
    left: 92px;
    top: -50%;
    width: calc(100vw - 40px);
    height: 100vh;
    height: calc(5em + 100%);
    background-color: #a0c636;
    z-index: -1;
}

@media (min-width: 584px) {
    .indsats h3:before {
        width: calc(100vw - 340px);
    }
}

@media (min-width: 786px) {
    .indsats h3:before {
        width: calc(100vw - 355px);
    }
}

@media (min-width: 1100px) {
    .indsats h3:before {
        width: calc(100vw - 785px);
    }
}

@media (min-width: 1440px) {
    .indsats h3:before {
        width: calc(100vw - 958px);
    }
}

@media (min-width: 1920px) {
    .indsats h3:before {
        width: calc(100vw - 1195px);
    }
}

.indsats h3:after {
    content: "";
    position: absolute;
    left: -257px;
    top: -50%;
    width: 350px;
    height: calc(5em + 100%);
    border-top-left-radius: 100%;
    background-color: #a0c636;
    z-index: -1;
}

@media (min-width: 768px) {
    .indsats h3:after,
    .indsats h3:before {
        height: calc(7em + 100%);
    }
}


/* RELATED CONTENT */

.tiles__item:hover figure img {
    box-shadow: 0 0 0 3px rgba(0, 0, 238, 0.8);
}

.tiles__item:hover h3 {
    text-decoration: underline;
}


/* FOOTER SEARCH */

.search__inner>figure>svg {
    fill: #cccccc;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    margin-right: 16.25px;
    margin-right: 1.25rem;
    max-width: 14.3px;
    max-width: 1.1rem;
    transition: fill 300ms ease-out;
}


/* SHORTCUTS */

.shortcuts__list a:hover .shortcuts__img {
    box-shadow: 0 0 0 3px rgba(0, 0, 238, 0.8);
    border-radius: 4px;
}

.shortcuts__list a:hover .shortcuts__label,
.shortcuts__list a:hover h3 {
    text-decoration: underline;
}


/* FOOTER NAVIGATION */


/* See footer information. */


/* FOOTER INFORMATION */

.footer__logo:before {
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5.2px;
    height: 0.4rem;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    position: absolute;
    background-color: rgba(26, 135, 58, 0);
    -webkit-transform: translateX(11.5%);
    transform: translateX(11.5%);
    transition: background-color 250ms ease-out;
}

.footer__logo:hover:before {
    background-color: rgba(26, 135, 58, .2);
}

.footer__list>li>a:hover,
.footer__contact>li>a:hover {
    color: #888888;
}

.footer__socials>li>a:hover svg {
    fill: #888888;
    /* It does not work. It seems the icons are prefilled. */
    box-shadow: 0 0 2px 1px rgba(0, 0, 238, 0.8);
}

.footer__logo>figure>svg {
    height: 18px;
    width: 200px;
    max-height: none;
    max-height: initial;
    max-width: none;
    max-width: initial;
}

.footer__contact>li>figure>svg {
    margin-right: 6.5px;
    margin-right: .5rem;
    fill: #aaaaaa;
    width: 20px;
}


/* The alert message box */

.alert {
    width: 100%;
    max-height: 160px;
    padding: 20px;
    text-align: center;
    background-color: #E91B0C;
    color: white;
    margin-bottom: 15px;
}

.alert span {
    display: inline;
}

#studieopgave_oplysning {
    transition: max-height 2s, padding 2s;
}

@media (max-width: 768px) {
    .wrapper {
        float: left;
    }
    .alert {
        float: left;
        margin-top: 80px;
    }
}


/* The close button */

.closebtn {
    float: right;
    padding-left: 0.28em;
    padding-right: 0.28em;
    padding-bottom: 0.16em;
    border-radius: 6px;
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
}


/* When moving the mouse over the close button */

.closebtn:hover {
    background-color: #FFF;
    color: #E91B0C;
}

.closebtn:active,
.closebtn:focus {
    border-style: inset;
}