body {
    background-image: url(../images/screencapture-odenserenovation-dk-2020-03-04-12_27_59.png);
    background-size: cover;
    height: 110vh;/* 10 ekstra i højde for at give scrolling mulighed*/
    font-family: "adelle-sans", "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#peekaboo {
    position: fixed;
    bottom: 25px;
    left: -852px;
    background: white;
    padding: 25px;
    width: 500px;
    height: 150px;
    color: #1a873a;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top: solid 2px #989898;
    border-right: solid 2px #989898;
    border-bottom: solid 2px #989898;

}

.linje_et {
    font-size: 50px;
    font-weight: bold;
}

.linje_to {
    font-size: 40px;
}

.linje_tre {
    font-size: 20px;
    color: black;
}
a {
  text-decoration: none;
  color: #1a873a;
}
