body {
    background-image: url(../images/screencapture-odenserenovation-dk-2020-03-04-12_27_59.png);
    background-size: cover;
    height: 110vh;
    /* 10 ekstra i højde for at give scrolling mulighed*/
	font-family: adelle, serif;
	font-style: normal;
	font-weight: 600;
}

#peekaboo {
    position: fixed;
    bottom: 0px;
    left: -852;
    background: #FEFAE1;
    padding: 25px;
    width: 550px;
    height: 150px;
}

.linje_et {
    font-size: 60px;
}

.linje_to {
    font-size: 50px;
}

.linje_tre {
    font-size: 30px;
}