body {
    background-image: url(../images/screencapture-odenserenovation-dk-2020-03-04-12_27_59.png);
    background-size: cover;
    height: 110vh;
    font-family: "adelle-sans";
    /* 10 ekstra i højde for at give scrolling mulighed*/
}

#peekaboo {
    position: fixed;
    bottom: 25px;
    left: -852;
    background: white;
    padding: 25px;
    width: 500px;
    height: 150px;
    color: #1a873a;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border: solid 2px #989898;
}

.linje_et {
    font-size: 50px;
    font-weight: bold;
}

.linje_to {
    font-size: 40px;
}

.linje_tre {
    font-size: 20px;
    color: black;
}